#editor{
 width: 1000px;
 height: 500px;
 background-color: #011627;
 color: #DCDC9D;
 font-size: 1em;
 font-family: "Courier New";
}

#memory-container{
	font-family: monospace;
}

.current-memory{
	color: red;
}